h1{
	background-color: #0038B8;
	color: white;
	padding: 20px;
}

body{
	background-color: whitesmoke;
}

.video-border{
	color: #0038B8;
	border: 10px solid royalblue;
	width: 650px;
	padding: 20px 20px;
	background-color: lightblue;
}

h2{
	background-color: #0038B8;
	color: white;
	padding: 20px;
	text-align: center;
}

p{
	font: sans-serif;
	letter-spacing: 1px;
}

.paragraph{
	background-color: #C0C0C0;
	padding: 20px;
	color: solid black;
	font-weight: bold;
	letter-spacing: 4px;
}

a:hover{
	color: #0038B8;
}

footer{
	background-color: #0038B8;
	color: white;
	padding: 10px;
}
